@import "variable.css";
@import "fonts.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg);
    color: var(--title-text-color);
    font-family: Onder, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

button {
    border: none;
    background-color: transparent;
}
button:focus {
    outline: none;
    border: none;
}

a {
    display: block;
    text-decoration: none;
    color: var(--title-text-color);
}

a:focus {
    outline: none;
}

img {
    display: block;
}

li {
    list-style: none;
}

input {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
    outline: none;
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--main-bg) inset !important;
    -webkit-text-fill-color: var(--title-text-color) !important;
    caret-color: var(--title-text-color) !important;
    background-color: var(--main-bg) !important;
    color: var(--title-text-color) !important;
}

.react-tel-input {
    margin-bottom: 24px;
}

.react-tel-input .selected-flag {
    background-color: transparent!important;
}

.react-tel-input .selected-flag:hover {
    background-color: transparent!important;
}

.react-tel-input .selected-flag .flag {
    top: 39% !important;
}

.react-tel-input .country-list {
    width: 96px!important;
    max-height: 124px!important;
    border-radius: 16px!important;
    border: 1px solid var(--accent-color)!important;
    background-color: #000!important;
    margin: 0!important;
    overflow-x: hidden!important;
    overflow-y: scroll!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 0;
}

.react-tel-input .country-list::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.react-tel-input .country-list::-webkit-scrollbar-track {
    background: #101010;
}

/* Handle */
.react-tel-input .country-list::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.react-tel-input .country-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.react-tel-input .country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9.5px 10px!important;
}

.react-tel-input .country:hover {
    background-color: #000!important;
}

.react-tel-input .highlight {
    background-color: #000000!important;
}

.react-tel-input .country-name {
    display: none;
}

.react-tel-input .flag {
    margin-right: 4px!important;
    margin-top: 0!important;
}

.dash {
    display: inline-block!important;
}

@media (max-width: 1024px) {
    .dash {
        display: none!important;
    }
}