@import "variable.css";
@import "fonts.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg);
    color: var(--title-text-color);
    font-family: Onder, sans-serif;
    font-weight: 500;
    font-size: 16px;
    /*overflow: hidden;*/
}

button {
    border: none;
    background-color: transparent;
}

a {
    display: block;
    text-decoration: none;
    color: var(--title-text-color);
}

img {
    display: block;
}

li {
    list-style: none;
}

input {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
}

input:focus {
    outline: none;
}

.react-tel-input {
    margin-bottom: 24px;
}

.react-tel-input .selected-flag {
    background-color: transparent!important;
}

.react-tel-input .selected-flag:hover {
    background-color: transparent!important;
}

.react-tel-input .selected-flag .flag {
    top: 39% !important;
}

.react-tel-input .country-list {
    width: 96px!important;
    max-height: 74px!important;
    border-radius: 16px!important;
    border: 1px solid var(--accent-color)!important;
    background-color: #000!important;
    margin: 0!important;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 0;

}

.react-tel-input .country {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9.5px 10px!important;
}

.react-tel-input .country:hover {
    background-color: #000!important;
}

.react-tel-input .highlight {
    background-color: #000000!important;
}

.react-tel-input .country-name {
    display: none;
}

.react-tel-input .flag {
    margin-right: 4px!important;
    margin-top: 0!important;
}