@font-face {
    font-family: "Lora";
    src: url("/fonts/Lora.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url("/fonts/Lora-Italic.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "NunitoSans";
    src: url("/fonts/NunitoSans.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Onder";
    src: url("/fonts/Onder-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}