.info {
    h3 {
        font-size: var(--font-size-h3);
        line-height: var(--line-height-title);
        margin-bottom: 24px;
        span {
            display: block;
        }
    }

    p {
        font-family: Lora, sans-serif;
        font-style: italic;
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-subtitle);
        text-transform: uppercase;
        color: var(--subtitle-color);
        span {
            display: block;
        }
    }
}

@media (max-width: 1800px) {
    .info {
        h3 {
            font-size: 29px;
            line-height: 43px;
            margin-bottom: 22px;
        }

        p {
            font-size: 29px;
        }
    }
}

@media (max-width: 1600px) {
    .info {
        h3 {
            font-size: 25px;
            line-height: 38px;
            margin-bottom: 19px;
        }

        p {
            font-size: 25px;
        }
    }
}

@media (max-width: 1440px) {
    .info {
        width: 100%;
        h3 {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 18px;
        }

        p {
            font-size: 24px;
        }
    }
    .promo {
        max-width: 599px;
    }
    .services {
        max-width: 765px;
    }
    .projects {
        max-width: 795px;
    }
    .faq {
        max-width: 660px;
    }
    .contact {
        max-width: 578px;
    }
}

@media (max-width: 1400px) {
    .info {
        margin: 0 auto;
    }
}


@media (max-width: 1024px) {
    .info {
        h3 {
            font-size: 12px;
            line-height: 24px;
            margin-bottom: 16px;
        }

        p {
            font-size: 18px;
        }
    }
    .promo {
        max-width: 343px;
    }
    .services {
        max-width: 343px;
    }
    .projects {
        max-width: 351px;
    }
    .faq {
        max-width: 343px;
        p {
            max-width: 255px;
        }
    }
    .contact {
        max-width: 343px;
    }
}