.accordion {

}


.inner {
    min-height: 180px;
    padding: 30px;
    margin-top: -44px;
    background-color: var(--main-bg);
    border: var(--border);
    border-radius: var(--radius);
    cursor: pointer;
    transition: min-height 0.3s ease, background-color 0.3s ease;

    p {
        font-family: NunitoSans, sans-serif;
        font-weight: var(--font-weight-small);
        font-size: var(--font-size-accordionText);
        color: var(--title-text-color);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.inner:first-child {
    margin-top: 0;
}

.innerActive {
    min-height: 230px;
    background-color: var(--accent-color);
    p {
        opacity: 1;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    h4 {
        font-size: var(--font-size-accordion);
    }
    img {
        transition: transform 0.3s ease;
    }
}

.itemActive {
    img {
        transform: rotate(-180deg);
    }
}

.promo {
    width: 881px;
}

.faq {
    width: 858px;
    h4 {
        font-size: var(--font-size-accordionFaq);
    }
}

@media (max-width: 1800px) {
    .inner {
        min-height: 162px;
        padding: 27px;
        margin-top: -40px;
        p {
            font-size: 18px;
        }
    }
    .innerActive {
        min-height: 230px;
    }
    .item {
        h4 {
            font-size: 18px;
        }
        img {
            width: 28.8px;
            height: 28.8px;
        }
    }
    .promo {
        width: 793px;
    }
    .faq {
        width: 772px;
        h4 {
            font-size: 16px;
        }
    }
}

@media (max-width: 1600px) {

    .inner {
        min-height: 141.75px;
        padding: 24px;
        margin-top: -35px;
        p {
            font-size: 16px;
        }
    }
    .innerActive {
        min-height: 200px;
    }
    .item {
        h4 {
            font-size: 16px;
        }
        img {
            width: 25.2px;
            height: 25.2px;
        }
    }
    .promo {
        width: 694px;
    }
    .faq {
        width: 676px;
        h4 {
            font-size: 14px;
        }
    }
}

@media (max-width: 1440px) {

    .inner {
        min-height: 135px;
        padding: 23px;
        margin-top: -33px;
    }
    .innerActive {
        min-height: 180px;
    }
    .item {
        h4 {
            font-size: 15px;
        }
        img {
            width: 24px;
            height: 24px;
        }
    }
    .promo {
        width: 661px;
    }
    .faq {
        width: 644px;
        h4 {
            font-size: 13px;
        }
    }
}

@media (max-width: 1024px) {

    .inner {
        min-height: 140px;
        padding: 16px;
        margin-top: -44px;
        p {
            font-size: 12px;
        }
    }
    .innerActive {
        min-height: 200px;
    }
    .item {
        h4 {
            font-size: 11px;
            max-width: 291px;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
    .promo {
        width: 343px;
    }
    .faq {
        width: 343px;
        h4 {
            font-size: 11px;
        }
    }
}