.button {
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--title-text-color);
    font-family: var(--font-onder);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-medium);
    border-radius: var(--radius);
    padding: 0 16px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    background-color: var(--title-text-color);
    color: var(--accent-color);
}

@media (max-width: 1800px) {
    .button {
        width: 540px;
        height: 36px;
        font-size: 9px;
        padding: 0 12px;
    }
}

@media (max-width: 1600px) {
    .button {
        width: 472px;
        height: 31px;
        font-size: 7.87px;
    }
}

@media (max-width: 1440px) {
    .button {
        width: 450px;
        height: 30px;
        font-size: 7.5px;
    }
}

@media (max-width: 1024px) {
    .button {
        width: 343px;
        height: 40px;
        font-size: 10px;
    }
}