.social {
    display: flex;
    align-items: center;

    li {
        margin-right: 24px;

        a {
            font-size: var(--font-size-social);
            color: var(--title-text-color);
            transition: color 0.3s ease;
        }

        a:hover {
            color: var(--accent-color);
        }

    }

    li:last-child {
        margin-right: 0;
    }
}

@media (max-width: 1800px) {
    .social {
        li {
            margin-right: 22px;
            a {
                font-size: 7px;
            }

        }
    }
}

@media (max-width: 1600px) {
    .social {
        li {
            margin-right: 19px;
            a {
                font-size: 6px;
            }

        }
    }
}

@media (max-width: 1440px) {
    .social {
        li {
            margin-right: 18px;
        }
    }
}

@media (max-width: 800px) {
    .social {
        flex-wrap: wrap;
        width: 375px;
        li {
            margin-right: 24px;
            margin-top: 24px;
            a {
                font-size: 11px;
            }

        }
    }
}

@media (max-width: 450px) {
.social {
    width: 350px;
    li {
        margin-right: 20px;
        a {
            font-size: 10px;
        }

    }
}
}