.social {
    display: flex;
    align-items: center;

    li {
        margin-right: 24px;

        a {
            font-size: var(--font-size-social);
            color: var(--title-text-color);
            transition: color 0.3s ease;
        }

        a:hover {
            color: var(--accent-color);
        }

    }

    li:last-child {
        margin-right: 0;
    }
}

.popup {
    justify-content: center;
    margin-top: 32px;

    li {
        a {
            font-size: var(--font-size-popupSocial);
        }
    }
}

@media (max-width: 1800px) {
    .social {
        li {
            margin-right: 22px;

            a {
                font-size: 7px;
            }

        }
    }
}

@media (max-width: 1600px) {
    .social {
        li {
            margin-right: 19px;

            a {
                font-size: 6px;
            }

        }
    }
}

@media (max-width: 1440px) {
    .social {
        li {
            margin-right: 18px;
        }
    }
}

@media (max-width: 800px) {
    .social {
        flex-wrap: wrap;
        gap: 24px;
        width: 375px;

        li {
            margin-right: 0;

            a {
                font-size: 11px;
            }

        }
    }

    .popup {
        flex-wrap: nowrap;
        gap: 16px;

        li {
            margin-right: 0;

            a {
                font-size: 6px;
            }
        }
    }
}

@media (max-width: 450px) {
    .social {
        width: 350px;

        li {
            a {
                font-size: 10px;
            }

        }
    }
    .popup {
        gap: 16px;
        li {
            a {
                font-size: 6px;
            }
        }
    }
}