.text {
    position: relative;
    z-index: 99;
    font-family: var(--font-loraItalic);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-regular);
    color: var(--accent-color);
    white-space: nowrap;
    margin-left: 11px;
}

.cursor {
    display: inline-block;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media (max-width: 1800px) {
    .text {
        font-size: 30px;
    }
}

@media (max-width: 1600px) {
    .text {
        font-size: 26px;
    }
}

@media (max-width: 1440px) {
    .text {
        font-size: 25px;
    }
}

@media (max-width: 1400px) {
    .text {
        font-size: 22px;
        margin-left: 0;
    }
}

@media (max-width: 425px) {
    .text {
        font-size: 20px;
    }
}
