.arrow {
    position: absolute;
    bottom: 22px;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 99;
    cursor: pointer;
    img {
        width: 105px;
        height: 105px;
    }
}

@media (max-width: 1800px) {
    .arrow {
        img {
            width: 95px;
            height: 95px;
        }
    }
}

@media (max-width: 1600px) {
    .arrow {
        img {
            width: 83px;
            height: 83px;
        }
    }
}

@media (max-width: 1440px) {
    .arrow {
        img {
            width: 79px;
            height: 79px;
        }
    }
}

.loader {
    width: 74px;
    height: 74px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    overflow: hidden;
}

.arrow:hover img {
    animation: image 1s ease-in-out forwards;
    transform: translate(0%, 0%);
}

.arrow:hover .loader:before {
    content: "";
    width: 74px;
    height: 74px;
    position: absolute;
    left: 0;
    top: 0;
    border: 3px solid #0066FF;
    border-radius: 50%;
    animation: rotate 1s linear forwards;
    transform: rotate(-90deg);
}
@keyframes rotate {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
}

@keyframes image {
    100% {
        transform: translate(0%, 20%);
    }
}
